@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #1d294d;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.nobr {
  white-space: nowrap;
  color: currentColor;
}

[data-aos=shrink] {
  transform: scale(1);
  border-radius: 0;
  transition-property: transform, 25px;
}
[data-aos=shrink].aos-animate {
  transform: scale(0.95);
  border-radius: 25px;
}

.bold {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

.phd {
  text-transform: capitalize;
}

.notitia-fade {
  font-size: 4rem;
}
.notitia-fade .notitia-container {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.notitia-fade .notitia-container img {
  width: 400px;
}

/*
.movie-container {
	//position: relative;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);

	z-index: 999;
	//margin-bottom: 15000px;
	//width: 200px;
	canvas {
		top: 0;
		max-width: calc(100vw - 150px);
		max-height: 100vh;
	}
}
#thiccer {
	width: 100%;
	height: 5000px;
}
*/
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.hero .text-container {
  width: 100%;
  padding: 3% 10%;
}
.hero .text-container h1 {
  color: white;
  width: 40%;
  text-align: left;
}
.hero h1 {
  font-size: 4vw;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  width: 450px;
  padding: 100px 0 100px 0;
}

.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/viktor-krc-E7qSsgMsXyA-unsplash.jpg");
  height: 50vh;
}
.about-hero .text-container {
  width: 100%;
  padding: 3% 10%;
}
.about-hero .text-container h1 {
  color: white;
  width: 100%;
  text-align: center;
}

.general-public-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/general-hero.jpg");
}
.general-public-hero .text-container {
  width: 100%;
  padding: 3% 10%;
}
.general-public-hero .text-container h1 {
  color: white;
  width: 50%;
  text-align: left;
  font-size: 4vw;
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/story-desktop.jpg");
  background-position: bottom;
  text-align: left;
  min-height: 75vh;
}
.home-hero h1 {
  width: 100%;
  color: white;
  text-align: left;
  padding: 3% 10%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.home-hero h1 a {
  color: #92e0e1;
}
.home-hero .healthspan {
  width: 100%;
}
.home-hero .healthspan h1 {
  width: 100%;
}

.patients-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/gel-capsules-5834023_1920.jpg");
}
.patients-hero .text-container {
  width: 100%;
  padding: 3% 10%;
}
.patients-hero .text-container h1 {
  color: white;
  width: 55%;
  text-align: left;
}

.investors-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/news.jpg");
  background-position: bottom;
}
.investors-hero .text-container {
  width: 100%;
  padding: 3% 10%;
}
.investors-hero .text-container h1 {
  color: white;
  width: 100%;
  text-align: center;
}

.science-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/test-1.jpg");
  height: 75vh;
}
.science-hero .science-text {
  width: 100%;
}
.science-hero .science-text h1 {
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.science-hero .science-text p {
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  font-size: 1.5rem;
}
.science-hero p {
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.science-hero h1,
.science-hero p {
  padding: 3% 10%;
}

.pipeline-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/chromatograph-MWnm1fSYXN4-unsplash.jpg");
}

.logo {
  width: 6.5rem;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
}

.carousel {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
}

.carousel-item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.carousel-item .carousel-text {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 100px;
}
.carousel-item .carousel-text .paragraph {
  font-size: 1.5rem;
  width: 50%;
  padding-left: 30px;
}
.carousel-item .carousel-text h1 {
  width: 100%;
  text-align: left;
  padding: 30px;
  text-align: left;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}
.carousel-control-prev .fas,
.carousel-control-next .fas {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e2e2e2;
  padding: 40px;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carousel-indicator-li {
  position: relative;
  display: inline-block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carousel-indicator-li.active {
  transform: scale(1.1);
  border: 2px solid #aaaaaa;
}

table {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

table thead tr {
  background: #1d294d;
  padding: 5px;
}

table thead th {
  color: white;
}

table tbody tr:nth-child(even) {
  background: #e2e2e2;
}

table td,
table th {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
}

table th {
  font-weight: 700;
  margin: 0;
  max-width: 800px;
  line-height: inherit;
}

table tr td:first-child {
  color: #328490;
  font-weight: 800;
}

@media only screen and (max-width: 930px) {
  table th {
    display: none;
  }

  table td {
    position: relative;
    display: block;
    padding-left: 150px;
    height: 75px;
    border-bottom: 1px solid #1d294d;
  }

  table td:last-child {
    border: none;
  }

  table td:before {
    position: absolute;
    top: 15px;
    left: 10px;
    display: block;
    content: attr(aria-label) ": ";
    font-weight: 700;
  }

  table tbody tr {
    display: block;
  }

  table:nth-of-type(odd) {
    background: #f3f3f3;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.myGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.myGrid .tall {
  padding: 3% 10%;
  grid-row: 1/3;
  grid-column: 2;
}
.myGrid .myGrid-square {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 10%;
}

.news div {
  width: 75%;
}
.news:first-child {
  width: 25%;
}

.news-date {
  font-style: italic;
}

.square {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 10%;
}

.square-img {
  padding: 15px;
}

.third {
  width: 30%;
  margin: 0;
}

.full {
  width: 100%;
  padding: 3% 10%;
  text-align: center;
}

.center-text {
  text-align: center;
}

.hero-text {
  font-size: 4rem;
  text-align: center;
}

.map-square {
  padding: 0;
}
.map-square div {
  padding: 3% 10%;
}

.middle-blue-green {
  background-color: #92e0e1;
}

.metallic-seaweed {
  background-color: #328490;
}
.metallic-seaweed * {
  color: white;
}
.metallic-seaweed h1 {
  font-size: 4rem;
}

.quote {
  font-size: 1.5rem;
  text-align: center;
}

.space-cadet {
  background-color: #1d294d;
  color: white;
}
.space-cadet * {
  color: white;
}
.space-cadet h1 {
  padding: 3% 10%;
}

.hamburger {
  display: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.top-nav img {
  width: 15%;
  max-width: 230px;
}
.top-nav a {
  margin: 25px;
  padding: 5px;
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1em;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  color: currentColor;
  font-weight: 800;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 0.1em;
}
a:active {
  opacity: 50%;
}

.team-banner {
  font-size: 4rem;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team figure {
  text-align: center;
}
.team h1 {
  text-align: center;
  width: 100%;
}
.team img {
  width: 200px;
  border-radius: 500px;
  padding-bottom: 20px;
}
.team img:hover {
  opacity: 50%;
  transition: 300ms;
  cursor: pointer;
}
.team figcaption {
  text-align: center;
  max-width: 200px;
}

.caption {
  font-size: 0.75rem;
  color: #707070;
}
.caption:hover {
  cursor: pointer;
}

.contact {
  width: 100%;
  margin: 0;
  background-color: #92e0e1;
  border-radius: 25px;
  padding: 3% 10%;
}
.contact label {
  font-size: 1.5rem;
}
.contact input,
.contact textarea {
  border-radius: 25px;
  width: 100%;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
  border: 2px solid #1d294d;
}
.contact input[type=submit] {
  background-color: #ebb992;
  width: 50%;
  font-size: 2.5rem;
  color: white;
  float: right;
}
.contact input[type=submit]:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}
.contact::-webkit-outer-spin-button,
.contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact input[type=number] {
  -moz-appearance: textfield;
}
.contact textarea {
  height: 300px;
}

.contact-us {
  padding: 20px;
  border-radius: 25px;
  position: fixed;
  background-color: #ebb992;
  color: white;
  border: none;
  font-size: 1.5rem;
  right: 2%;
  bottom: 2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}
.contact-us:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.person-modal-content,
.contact-modal-content {
  background-color: white;
  margin: 10px auto;
  /* 15% from the top and centered */
  padding: 0;
  width: 50%;
  /* Could be more or less, depending on screen size */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 400px;
  min-width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.person-modal-content h1,
.contact-modal-content h1 {
  width: 70%;
  font-size: 2.5rem;
  margin: 0;
}
.person-modal-content .img-container,
.contact-modal-content .img-container {
  width: 30%;
}
.person-modal-content img,
.contact-modal-content img {
  width: 80%;
}
.person-modal-content ul,
.contact-modal-content ul {
  margin: 20px;
  width: 100%;
}
.person-modal-content li,
.contact-modal-content li {
  padding: 20px;
  font-size: 1.5rem;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bullet {
  font-size: 1.5rem;
}
.bullet li {
  padding: 20px;
}

.comparison {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.comparison .comparison-header {
  width: 50%;
  font-size: 3rem;
  text-align: center;
}
.comparison .comparison-header img {
  width: 250px;
  margin-top: 52px;
}
.comparison .comparison-vs {
  position: absolute;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.comparison .comparison-item {
  width: 50%;
  padding: 3% 10%;
  font-size: 1.5rem;
}
.comparison .comparison-item ul {
  padding: 0;
}
.comparison .comparison-item h4 {
  text-align: left;
}
.seaweed-text {
  color: #328490;
}
.seaweed-text h4,
.seaweed-text li {
  color: #328490;
}

.gray-text {
  color: darkred;
  opacity: 30%;
}
.gray-text h2,
.gray-text h4,
.gray-text ul li {
  color: darkred;
}

.refrences ol {
  margin: 3% 10%;
}
.refrences ol li {
  padding-bottom: 10px;
}

.process-diagram {
  display: grid;
  grid-template-columns: 32% 32% 6% 32%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.process-diagram img {
  width: 100px;
  margin: 10px;
}
.process-diagram .left-justify {
  justify-content: left;
}
.process-diagram li {
  width: 100%;
  text-align: right;
}

.ebay {
  font-size: 5rem;
  border: 1px solid black;
  background-color: lightgray;
}

.arrow {
  width: 25px;
  height: 25px;
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 10px 10px 0;
}

.arrow-green {
  border: solid yellowgreen;
  border-width: 0 10px 10px 0;
}

.arrow-red {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  border: solid red;
  border-width: 0 10px 10px 0;
}

.panel {
  height: 1vh;
}

.red {
  border: solid red;
  border-width: 0 10px 10px 0;
}

.red-text {
  color: red;
}
.red-text h4,
.red-text li {
  color: red;
}

.green-text {
  color: greenyellow;
}

.definition {
  font-weight: 800;
}

.hover-me:hover ~ .sidenav {
  background-color: red !important;
}

.science-zhao {
  padding: 0;
}
.science-zhao img {
  width: 400px;
  padding: 20px;
}

.pipeline {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}
.pipeline h4 {
  text-align: left;
}
.pipeline .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  overflow: hidden;
  transition: 300ms;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.pipeline .progress .complete {
  background-color: #92e0e1;
}
.pipeline .progress .in-progress {
  background: linear-gradient(to right, #92e0e1 0%, #92e0e1 50%, #e2e2e2 50%, #e2e2e2 100%);
}
.pipeline .progress .not-complete {
  background-color: #e2e2e2;
}
.pipeline .progress .end-bar {
  border-radius: 0 5px 5px 0;
}
.pipeline .progress .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: width 0.6s ease;
  width: 12%;
}
.pipeline .progress .thick-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: width 0.6s ease;
  background: red;
  width: 50%;
}
.pipeline .progress .condition {
  width: 32%;
  text-align: left;
}
.pipeline .progress-title {
  font-size: calc(.5rem + .5vw);
}

.frame {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 3% 10%;
}
.frame p,
.frame li {
  font-size: 1.5rem;
}

.banner-3 {
  background-color: #adb988;
}
.banner-3 h1,
.banner-3 p {
  color: #1d294d;
}

.banner-4 {
  background-color: #6cc0da;
}

.banner-5 {
  background-color: #373837;
}
.banner-5 h1,
.banner-5 p {
  color: white;
}

.banner-6 {
  background-color: #b7ab9b;
}
.banner-6 a {
  border-radius: 25px;
  border: none;
  font-size: 2.5rem;
  width: 44%;
  background-color: white;
  text-align: center;
  padding: 15px;
  margin: 3%;
}
.banner-6 a:hover {
  background-color: #cccccc;
  background-size: 0;
  transition: 300ms;
}

.step-1 {
  background-color: #92e0e1;
}
.step-1 h2 {
  width: 100%;
}

.step-2 {
  background-color: #328490;
  color: white;
}
.step-2 h2 {
  width: 100%;
}
.step-2 h1,
.step-2 h2,
.step-2 p,
.step-2 div {
  color: white;
}

.step-3 {
  background-color: #1d294d;
}
.step-3 h1,
.step-3 p {
  color: white;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.kid {
  background-color: #edeeec;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 10%;
}
.kid h2,
.kid p {
  color: #1d294d;
  width: 50%;
  text-align: right;
}
.kid img {
  width: 50%;
  box-shadow: 0 0 8px 8px #edeeec inset;
}
.kid a {
  color: #328490;
}

.gutter {
  width: 100%;
  height: 50px;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .square {
    width: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .top-nav {
    padding: 0 10px;
  }
  .top-nav a {
    margin: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .top-nav {
    display: block;
    position: absolute;
    top: -300px;
    background-color: white;
    width: 100%;
    transition: 300ms;
  }
  .top-nav img {
    display: none;
  }
  .top-nav a {
    display: block;
    text-align: center;
  }

  .person-modal-content {
    margin: 60% auto;
    /* 15% from the top and centered */
  }

  .carousel-item .carousel-text p,
.carousel-item .carousel-text h2 {
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid #1d294d;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    position: fixed;
    transition: 300ms;
    right: 10px;
    top: 10px;
    transition-timing-function: ease-in-out;
    z-index: 999;
  }
  .hamburger div {
    width: 30px;
    height: 5px;
    background-color: #92e0e1;
    margin: 5px auto;
  }
  .hamburger:hover {
    border-radius: 50px;
    background-color: #707070;
    transition: 300ms;
    transition-timing-function: ease-in-out;
  }
  .hamburger:hover div {
    background-color: white;
  }
}

/*# sourceMappingURL=style.css.map */
