@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: #1d294d;
}

body {
  margin: 0;
}

main {
  margin-left: 150px;
}

[data-aos].dfdf {
  width: 50%;
}

[data-aos=shrink] {
  transform: scale(1);
  border-radius: 0;
  transition-property: transform, 25px;
}
[data-aos=shrink].aos-animate {
  transform: scale(0.95);
  border-radius: 25px;
}

[data-aos=pop] {
  opacity: 0;
  transition: 0;
  transition-property: opacity;
}
[data-aos=pop].aos-animate {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

.thicc {
  height: 1080px;
}

/*
.movie-container {
	//position: relative;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);

	z-index: 999;
	//margin-bottom: 15000px;
	//width: 200px;
	canvas {
		top: 0;
		max-width: calc(100vw - 150px);
		max-height: 100vh;
	}
}
#thiccer {
	width: 100%;
	height: 5000px;
}
*/
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.hero h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  width: 450px;
  padding: 100px 0 100px 0;
}

.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/viktor-krc-E7qSsgMsXyA-unsplash.jpg");
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/kal-visuals-aK4iPNYipnU-unsplash.jpg");
  background-position: bottom;
}

.general-public-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/salad.jpg");
}
.general-public-hero .text-container {
  width: 100%;
  padding: 3%;
}
.general-public-hero .text-container h1 {
  color: white;
  width: 40%;
  text-align: left;
}

.story-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/story-desktop.jpg");
  background-position: bottom;
  height: 1950px;
}
.story-hero img {
  position: relative;
  width: 75%;
  top: -5%;
}
.story-hero h1 {
  width: 75%;
  color: white;
  text-align: left;
  padding: 3%;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.story-hero h1 a {
  color: #92e0e1;
}

.patients-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/gel-capsules-5834023_1920.jpg");
}
.patients-hero .text-container {
  width: 100%;
  padding: 3%;
}
.patients-hero .text-container h1 {
  color: white;
  width: 50%;
  text-align: left;
}

.investors-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/news.jpg");
  background-position: bottom;
}
.investors-hero .text-container {
  width: 100%;
  padding: 3%;
}
.investors-hero .text-container h1 {
  color: white;
  width: 100%;
}

.science-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/national-cancer-institute-L7en7Lb-Ovc-unsplash.jpg");
}
.science-hero h1 {
  color: white;
  font-size: 4rem;
}
.science-hero p {
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.science-hero h1,
.science-hero p {
  padding: 3%;
}

.pipeline-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/chromatograph-MWnm1fSYXN4-unsplash.jpg");
}

.logo {
  width: 6.5rem;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.full {
  width: 100%;
  padding: 3%;
}

.hero-text {
  font-size: 4rem;
  text-align: center;
}

.map-square {
  padding: 0;
}
.map-square div {
  padding: 3%;
}

.middle-blue-green {
  background-color: #92e0e1;
}

.metallic-seaweed {
  background-color: #328490;
}
.metallic-seaweed * {
  color: white;
}
.metallic-seaweed h1 {
  font-size: 4rem;
}

.quote {
  font-size: 1.5rem;
  text-align: center;
}

.space-cadet {
  background-color: #1d294d;
  color: white;
}
.space-cadet * {
  color: white;
}
.space-cadet h1 {
  padding: 3%;
}

.sidenav {
  background: #1d294d;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sidenav .active {
  font-weight: bold;
}
.sidenav a {
  padding: 30px 15px;
  margin: 0;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
.sidenav .social-media {
  display: block;
  padding: 30px 15px;
}
.sidenav .social-media a {
  display: inline;
  padding: 0 2px;
}
.sidenav .social-media a i {
  font-size: 38px;
}
.sidenav .social-media a i:hover {
  opacity: 80%;
  transition: 300ms;
}
.sidenav img {
  padding: 20px 10px 20px 10px;
  width: 150px;
  background-color: white;
}

.hamburger {
  display: none;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1em;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  color: currentColor;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 0.1em;
}
a:active {
  opacity: 50%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team figure {
  text-align: center;
}
.team h1 {
  text-align: center;
  width: 100%;
}
.team img {
  width: 200px;
  border-radius: 500px;
  padding-bottom: 20px;
}
.team img:hover {
  opacity: 80%;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.team figcaption {
  text-align: center;
  max-width: 200px;
}

.caption {
  font-size: 0.75rem;
  color: #707070;
}
.caption:hover {
  cursor: pointer;
}

.contact {
  width: 100%;
  margin: 0;
  background-color: #92e0e1;
  border-radius: 25px;
  padding: 3%;
}
.contact label {
  font-size: 1.5rem;
}
.contact input,
.contact textarea {
  border-radius: 25px;
  width: 100%;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
  border: 2px solid #1d294d;
}
.contact input[type=submit] {
  background-color: #ebb992;
  width: 50%;
  font-size: 2.5rem;
  color: white;
  float: right;
}
.contact input[type=submit]:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}
.contact::-webkit-outer-spin-button,
.contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact input[type=number] {
  -moz-appearance: textfield;
}
.contact textarea {
  height: 300px;
}

.contact-us {
  padding: 20px;
  border-radius: 25px;
  position: fixed;
  background-color: #ebb992;
  color: white;
  border: none;
  font-size: 1.5rem;
  right: 2%;
  bottom: 2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}
.contact-us:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.person-modal-content,
.contact-modal-content {
  background-color: white;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 0;
  width: 75%;
  /* Could be more or less, depending on screen size */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 400px;
  min-width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.person-modal-content h1,
.contact-modal-content h1 {
  width: 70%;
  font-size: 2.5rem;
  margin: 0;
}
.person-modal-content .img-container,
.contact-modal-content .img-container {
  width: 30%;
}
.person-modal-content img,
.contact-modal-content img {
  width: 80%;
}
.person-modal-content p,
.contact-modal-content p {
  padding: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  margin-bottom: -50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bullet {
  font-size: 1.5rem;
}
.bullet li {
  padding: 20px;
}

.process-diagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.process-diagram img {
  width: 100px;
  margin: 10px;
}
.process-diagram li {
  width: 100%;
  text-align: right;
}

.ebay {
  font-size: 5rem;
  border: 1px solid black;
  background-color: lightgray;
}

.arrow {
  width: 25px;
  height: 25px;
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.panel {
  height: 1vh;
}

.red {
  border: solid red;
  border-width: 0 10px 10px 0;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid greenyellow;
  border-width: 0 10px 10px 0;
}

.red-text {
  color: red;
}

.green-text {
  color: greenyellow;
}

.definition {
  font-weight: 800;
}

.hover-me:hover ~ .sidenav {
  background-color: red !important;
}

.science-zhao {
  padding: 0;
}
.science-zhao img {
  width: 400px;
}

.pipeline {
  width: 80%;
  margin: 50px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}
.pipeline h4 {
  text-align: left;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  border-radius: 25px;
  transition: 300ms;
  width: 100%;
}
.progress:hover {
  height: 2.5rem;
  transition: 300ms;
}

.progress-expand {
  display: none;
}

.pipe-1 {
  background-color: #1d294d;
}
.pipe-1:after {
  content: "Pre-Clinical";
}

.pipe-2 {
  background-color: #328490;
}
.pipe-2:after {
  content: "Phase 1";
}

.pipe-3 {
  background-color: #92e0e1;
  color: #1d294d;
}
.pipe-3:after {
  content: "Phase 2";
}

.pipe-4 {
  background-color: #1d294d;
}
.pipe-4:after {
  content: "Phase 3";
}

.pipe-gray {
  background-color: #1d294d;
  color: white;
  opacity: 20%;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  transition: width 0.6s ease;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
  width: 25%;
}

.frame {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 3%;
}
.frame p {
  font-size: 1.5rem;
}

.banner-2 {
  background-color: black;
}
.banner-2 h2,
.banner-2 p {
  color: white;
}

.banner-3 {
  background-color: #041e1f;
}
.banner-3 h2,
.banner-3 p {
  color: white;
}

.banner-4 {
  background-color: #9daf61;
}
.banner-4 p {
  color: white;
}

.banner-6 p {
  color: white;
}

.step-1 {
  background-color: #92e0e1;
}

.step-2 {
  background-color: #328490;
  color: white;
}

.step-3 {
  background-color: #1d294d;
  color: white;
}

.banner-6 {
  background-color: black;
  color: white;
}

.superorganism {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}
.superorganism h2,
.superorganism p {
  color: white;
  width: 50%;
  text-align: right;
}
.superorganism p {
  width: 25%;
}
.superorganism img {
  width: 50%;
}
.superorganism a {
  color: #92e0e1;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.kid {
  background-color: #edeeec;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}
.kid h2,
.kid p {
  color: #1d294d;
  width: 50%;
  text-align: right;
}
.kid img {
  width: 50%;
  box-shadow: 0 0 8px 8px #edeeec inset;
}
.kid a {
  color: #328490;
}

.gutter {
  width: 100%;
  height: 50px;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .square {
    width: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .hero h1 {
    font-size: 3rem;
  }

  .person-modal-content {
    margin: 60% auto;
    /* 15% from the top and centered */
  }

  .sidenav {
    width: 0;
    transition: 300ms;
  }

  .hamburger {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid #1d294d;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    position: fixed;
    margin: 10px;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 999;
  }
  .hamburger div {
    width: 30px;
    height: 5px;
    background-color: #92e0e1;
    margin: 5px auto;
  }
  .hamburger:hover {
    border-radius: 50px;
    background-color: #707070;
    transition: 300ms;
    transition-timing-function: ease-in-out;
  }
  .hamburger:hover div {
    background-color: white;
  }

  main {
    margin: 0;
    transition: 300ms;
  }
}

/*# sourceMappingURL=style.css.map */
