@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap");
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: #1d294d;
}

body {
  margin: 0;
}

main {
  margin-left: 150px;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  width: 450px;
  padding: 100px 0 100px 0;
}

.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/viktor-krc-E7qSsgMsXyA-unsplash.jpg");
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/kal-visuals-aK4iPNYipnU-unsplash.jpg");
  background-position: bottom;
}

.science-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/national-cancer-institute-L7en7Lb-Ovc-unsplash.jpg");
}
.science-hero h1 {
  color: white;
  font-size: 4rem;
}
.science-hero p {
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.science-hero h1,
.science-hero p {
  padding: 50px 100px;
}

.pipeline-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/chromatograph-MWnm1fSYXN4-unsplash.jpg");
}

.logo {
  width: 6.5rem;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 100px;
}

.full {
  width: 100%;
  padding: 50px 100px;
  font-size: 4rem;
}

.map-square {
  padding: 0;
}
.map-square div {
  padding: 50px 100px;
}

.middle-blue-green {
  background-color: #92e0e1;
}

.metallic-seaweed {
  background-color: #328490;
}
.metallic-seaweed * {
  color: white;
}
.metallic-seaweed h1 {
  font-size: 4rem;
}

.quote {
  font-size: 1.5rem;
  text-align: center;
}

.space-cadet {
  background-color: #1d294d;
  color: white;
}
.space-cadet * {
  color: white;
}
.space-cadet h1 {
  padding: 50px 100px;
}

.sidenav {
  background: #1d294d;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.sidenav a {
  padding: 0;
  margin: 50px 10px;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
.sidenav img {
  padding: 20px 10px 20px 10px;
  width: 150px;
  background-color: white;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 2px;
}
a:active {
  opacity: 50%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team figure {
  text-align: center;
}
.team h1 {
  text-align: center;
  width: 100%;
}
.team img {
  width: 200px;
  border-radius: 500px;
  padding-bottom: 20px;
}
.team img:hover {
  opacity: 80%;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.team figcaption {
  text-align: center;
  max-width: 200px;
}

.caption {
  font-size: 0.75rem;
  color: #707070;
}
.caption:hover {
  cursor: pointer;
}

.contact {
  width: 100%;
  margin: 0;
}
.contact label {
  font-size: 1.5rem;
}
.contact input,
.contact textarea {
  border-radius: 25px;
  width: 100%;
  border: none;
  padding: 12px;
  margin-bottom: 20px;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
  border: 2px solid #1d294d;
}
.contact input[type=submit] {
  background-color: #ebb992;
  width: 50%;
  font-size: 2.5rem;
  color: white;
  float: right;
}
.contact input[type=submit]:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}
.contact::-webkit-outer-spin-button,
.contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact input[type=number] {
  -moz-appearance: textfield;
}
.contact textarea {
  height: 300px;
}

.contact-us {
  padding: 20px;
  border-radius: 25px;
  position: fixed;
  background-color: #ebb992;
  color: white;
  border: none;
  font-size: 1.5rem;
  right: 2%;
  bottom: 2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.contact-us:hover {
  background-color: #db823c;
  transition: 300ms;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.person-modal-content {
  background-color: white;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 0;
  width: 75%;
  /* Could be more or less, depending on screen size */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 400px;
  min-width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.person-modal-content h1 {
  width: 70%;
  font-size: 2.5rem;
  margin: 0;
}
.person-modal-content .img-container {
  width: 30%;
}
.person-modal-content img {
  width: 80%;
}
.person-modal-content p {
  padding: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  margin-bottom: -50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bullet {
  font-size: 1.5rem;
}
.bullet li {
  padding: 20px;
}

.process-diagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.process-diagram img {
  width: 100px;
  margin: 10px;
}
.process-diagram li {
  width: 100%;
  text-align: right;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 10px 0 10px 0;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.definition {
  font-weight: 800;
}

.hover-me:hover ~ .sidenav {
  background-color: red !important;
}

.science-zhao {
  padding: 0;
}
.science-zhao img {
  width: 400px;
}

.pipeline {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}
.pipeline h4 {
  text-align: left;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  overflow: hidden;
  border-radius: 25px;
  transition: 300ms;
}
.progress:hover {
  height: 2.5rem;
  transition: 300ms;
}

.nm108 {
  display: none;
  transition: 300ms;
}

.pipe-1 {
  background-color: #1d294d !important;
}
.pipe-1:after {
  content: "Pre-Clinical";
}

.pipe-2:after {
  content: "Phase 1";
}

.pipe-3 {
  background-color: #92e0e1 !important;
  color: #1d294d;
}
.pipe-3:after {
  content: "Phase 2";
}

.pipe-4 {
  background-color: #1d294d !important;
}
.pipe-4:after {
  content: "Phase 3";
}

.pipe-gray {
  background-color: #1d294d !important;
  color: white;
  opacity: 20%;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #328490;
  transition: width 0.6s ease;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
}

@media only screen and (max-width: 700px) {
  .square {
    width: 100%;
    padding: 20px;
  }

  .person-modal-content {
    margin: 60% auto;
    /* 15% from the top and centered */
  }
}

/*# sourceMappingURL=style.css.map */
