@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto&display=swap');

//colors
$metallic-seaweed: #328490;
$middle-blue-green: #92e0e1;
$space-cadet: #1d294d;
$light-text: white;
$tan: #ebb992;
$notitia-gray: #707070;
$light-gray: #e2e2e2;

//typography

//$font: "Raleway", sans-serif;
$font: "Poppins", sans-serif;

$hero-font-size: calc(16px + 3vw);
//$header-font-size: 2.5rem;
$header-font-size: calc(12px + 3vw);
//$quote-font-size: 1.5rem;
$quote-font-size: calc(12px + 1vw);
$text-shadow: 0 2px 2px rgba(0, 0, 0, .5); //can i use same box shadow
$default-font-weight: 500;

//spacing
$nav-padding: 30px 15px;
$nav-width: 150px;
$top-square: 3%;
$side-square: 3%;
//$square-padding: $top-square $side-square; //50px 100px;
$square-padding: 3%;

//other
$border-radius: 25px;
$transition-speed: 300ms;
$material-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

* {
	font-family: $font;
	box-sizing: border-box;
	color: $space-cadet;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.nobr {
	white-space: nowrap;
	color: currentColor;
}

[data-aos="shrink"] {
	transform: scale(1);
	border-radius: 0;
	transition-property: transform, border-radius;

	&.aos-animate {
		transform: scale(.95);
		border-radius: $border-radius;
	}
}

h1,
h2,
h3,
h4,
h5 {
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: $header-font-size;
}

.phd {
	text-transform: capitalize;
}

.notitia-fade {
	font-size: $hero-font-size;
	.notitia-container {
		width: 100%;
		text-align: center;
		padding-top: 50px;
		img {
			width: 400px;
		}
	}
}

//hero
//hero
//hero
//hero
.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	//background-attachment: fixed;

	.text-container {
		width: 100%;
		padding: $square-padding;
		h1 {
			color: white;
			width: 100%;
			text-align: center;
			font-size: $hero-font-size;
			text-shadow: $text-shadow;
		}
	}
}

.about-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/about-us-blur.webp");
	//filter: grayscale(1);
}

.general-public-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/general-public-hero.png");
	//background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("images/general-public-new3-extend.jpg");

	.text-container h1 {
		width: 50%;
		text-align: left;
	}
}

.home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.2)), url("images/home-hero.webp");
	background-position: bottom;

	.text-container h1 {
		width: 50%;
		text-align: left;
		a {
			color: $middle-blue-green;
		}
	}
}

.patients-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/patient-hero.webp");

	.text-container {
		h1 {
			width: 55%;
			text-align: left;
		}
	}
}

.investors-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/news.webp");
	background-position: bottom;
}

.pillar-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/pillar.jpg");
}

.platform-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/platform-hero.webp");
}

.logo {
	width: 6.5rem;
}

footer {
	padding: 20px;
	text-align: center;
	font-size: .75rem;
}

// carousel
// carousel
// carousel
// carousel

.carousel {
	height: 90vh;
	width: 100%;
	position: relative;
	display: flex;
}
.carousel-item {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;

	.carousel-text {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 0 60px;
		background-color: rgba(0, 0, 0, .5);
		height: 100%;

		.paragraph {
			font-size: calc(7px + 1vw + 1vh);
			width: 100%;
			height: 50%;
			overflow: auto;
		}
		h1 {
			width: 100%;
			text-align: left;
		}
		.paragraph,
		h1,
		strong {
			color: white;
			text-shadow: $text-shadow;
		}
	}
}
.carousel-item.active {
	opacity: 1;
}
.carousel-item img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	box-shadow: $material-box-shadow;
}

.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	cursor: pointer;

	.fas {
		background-color: rgb(0, 0, 0, .8);
		color: #e2e2e2;
		padding: 20px 10px;
	}
}

.carousel-control-prev {
	left: 0;
}

.carousel-control-next {
	right: 0;
}
.carousel-indicators {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.carousel-indicators ul {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.carousel-indicator-li {
	position: relative;
	display: inline-block;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 3;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	display: none;
}
.carousel-indicator-li.active {
	transform: scale(1.1);
	border: 2px solid $middle-blue-green;
}

.arrow {
	width: 20px;
	height: 20px;
	border: solid white;
	border-width: 0 10px 10px 0;
	display: inline-block;
	margin: 10px 0 10px 0;
	margin: 0;
	&:hover {
		border: solid $notitia-gray;
		border-width: 0 10px 10px 0;
	}
}

.arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border-width: 0 10px 10px 0;
}

.arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

//grid layout
//grid layout
//grid layout
//grid layout
.grid {
	display: flex;
	flex-wrap: wrap;
}

.myGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;

	.tall {
		//grid-area: 2 1/2;
		padding: $square-padding;
		grid-row: 1 / 3;
		grid-column: 2;
	}
	.myGrid-square {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: $square-padding;
	}
}

.news {
	div {
		width: 75%;
	}
	&:first-child {
		width: 25%;
	}
}

.news-date {
	font-style: italic;
}

.square {
	width: 50%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: $square-padding;
}

.square-img {
	width: 50%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.third {
	width: 30%;
	margin: 0;
}

.full {
	width: 100%;
	padding: $square-padding;
	text-align: center;
}

.middle-blue-green {
	background-color: $middle-blue-green;
}

.metallic-seaweed {
	background-color: $metallic-seaweed;

	* {
		color: white;
	}
	h1 {
		font-size: $hero-font-size;
	}
}

.quote {
	font-size: $quote-font-size;
	text-align: center;
}

.space-cadet {
	background-color: $space-cadet;
	color: white;
	* {
		color: white;
	}
	h1 {
		padding: $square-padding;
	}
}

//top nav
//top nav
//top nav
//top nav
.hamburger {
	display: none;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 $side-square;
	box-shadow: $material-box-shadow;

	img {
		width: 15%;
		max-width: 230px;
	}

	a,
	div {
		margin: 25px;
		padding: 5px;
		font-weight: 300;
		text-align: center;
	}
	.active {
		font-weight: 800;
	}
	.dropdown .dropdown-content {
		display: none;
		position: absolute;
		background-color: $light-gray;
		overflow: auto;
		padding: 0;
		margin: 0;
		box-shadow: $material-box-shadow;
		z-index: 1;
		top: 85px;

		a {
			padding: $nav-padding;
			margin: 0;
			text-decoration: none;
			display: block;

			&:nth-child(even) {
				background-color: white;
			}
		}
	}
	// .dropdown:hover .dropdown-content {
	// 	display: block;
	// }
	.show-mobile {
		display: none;
	}
	#hide-mobile {
		display: block;
	}
}

//link animation
//link animation
a,
.dropdown {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% .1em;
	transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
	color: currentColor;
	font-weight: 800;
	&:hover {
		cursor: pointer;
		text-decoration: none;
		background-size: 100% .1em;
	}
	&:active {
		opacity: 50%;
	}
}

//about us
.team-banner {
	font-size: $hero-font-size;
}
.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	figure {
		text-align: center;
	}

	h1 {
		text-align: center;
		width: 100%;
	}

	img {
		width: 200px;
		border-radius: 500px;
		padding-bottom: 20px;

		&:hover {
			opacity: 50%;
			transition: $transition-speed;
			cursor: pointer;
		}
	}

	figcaption {
		text-align: center;
		max-width: 200px;
	}
}

.caption {
	font-size: .75rem;
	color: $notitia-gray;

	&:hover {
		cursor: pointer;
	}
}

//contact form
//contact form
//contact form
//contact form
.contact {
	width: 100%;
	margin: 0;
	background-color: $middle-blue-green;
	border-radius: $border-radius;
	padding: $square-padding;

	label {
		font-size: $quote-font-size;
	}
	input,
	textarea {
		border-radius: $border-radius;
		width: 100%;
		border: none;
		padding: 12px;
		margin-bottom: 20px;
		&:focus {
			outline: none;
			border: 1px solid $space-cadet;
		}
	}
	input[type="submit"] {
		background-color: $tan;
		width: 50%;
		font-size: $header-font-size;
		color: white;
		float: right;

		&:hover {
			background-color: darken($tan, 20%);
			transition: $transition-speed;
			cursor: pointer;
		}
	}
	&::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	textarea {
		height: 200px;
	}
}

.contact-us {
	padding: 20px;
	border-radius: $border-radius;
	position: fixed;
	background-color: $tan;
	color: white;
	border: none;
	font-size: $quote-font-size;
	right: 2%;
	bottom: 2%;
	box-shadow: $material-box-shadow;
	z-index: 1;

	&:hover {
		background-color: darken($tan, 20%);
		transition: $transition-speed;
		cursor: pointer;
	}
}

//modal
//modal
//modal
//modal
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
	overflow: auto;

	.person-modal-content,
	.contact-modal-content {
		background-color: white;
		margin: 2% auto; /* 15% from the top and centered */
		padding: 0;
		width: 75%; /* Could be more or less, depending on screen size */
		border-radius: $border-radius;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		//align-items: flex-start;

		h1 {
			font-size: $header-font-size;
			text-align: left;
			padding-left: 60px;
		}
		.img-container {
			width: 30%;
			padding: $square-padding;
		}
		.close {
			padding-right: 20px;
			margin-bottom: 75px;
			position: absolute;
			right: 15%;
			top: 3%;
		}
		.bio {
			width: 70%;
			padding: $square-padding;
		}
		ul,
		p {
			width: 100%;
		}
		li {
			padding: 20px;
			font-size: $quote-font-size;
		}
	}
	.definition-modal-content {
		background-color: white;
		margin: 2% auto; /* 15% from the top and centered */
		padding: $square-padding;
		width: 75%; /* Could be more or less, depending on screen size */
		border-radius: $border-radius;
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: flex-start;
	}
}

.definition-text {
	font-size: $quote-font-size;
	text-align: center;
	padding: $square-padding;
	// padding-right: 80px;
	width: 85%;
}

/* The Close Button */
.close {
	color: $notitia-gray;
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

//Science
//Science
//Science
//Science
.comparison {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.comparison-header {
		width: 50%;
		font-size: 3rem;

		text-align: center;
		img {
			width: 250px;
			margin-top: 52px;
		}
	}
	.comparison-vs {
		position: absolute;
		font-size: 3rem;
		width: 100%;
		text-align: center;
	}

	.comparison-item {
		width: 50%;
		padding: $square-padding;
		font-size: $quote-font-size;

		ul {
			padding: 0;
		}

		h4 {
			text-align: left;
		}
	}
}

.seaweed-text {
	color: $metallic-seaweed;
	h4,
	li {
		color: $metallic-seaweed;
	}
}
.red-text {
	color: darkred;
	opacity: 50%;

	h2,
	h4,
	ul li {
		color: darkred;
	}
}

.platform-bullet {
	list-style: none;
}

.refrences {
	ol {
		margin: $square-padding;
		li {
			padding-bottom: 10px;
		}
	}
}

.green-text {
	color: greenyellow;
}

.definition {
	font-weight: 800;
}

.science-zhao {
	padding: 0;
	img {
		width: 400px;
		padding: 20px;
	}
}
.max-width {
	max-width: 1200px;
}
.read-more {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 95%;

	h1 {
		width: 100%;
	}
	a {
		width: 25%;
		padding: 20px;
	}
}

//pipeline
//pipeline
//pipeline
//pipeline

// .pipeline {
// 	width: 100%;
// 	margin: 0 auto;
// 	box-shadow: $material-box-shadow;
// 	padding: 20px;

// 	h4 {
// 		text-align: left;
// 	}

// 	.progress {
// 		display: -webkit-box;
// 		display: -ms-flexbox;
// 		display: flex;
// 		height: 6rem;
// 		overflow: hidden;
// 		transition: $transition-speed;
// 		width: 100%;
// 		padding: 20px;
// 		text-align: center;
// 		margin-bottom: 50px;

// 		.progress-bar {
// 			display: -webkit-box;
// 			display: -ms-flexbox;
// 			display: flex;
// 			-webkit-box-orient: vertical;
// 			-webkit-box-direction: normal;
// 			-ms-flex-direction: column;
// 			flex-direction: column;
// 			-webkit-box-pack: center;
// 			-ms-flex-pack: center;
// 			justify-content: center;
// 			transition: width .6s ease;
// 			width: 10%;
// 		}

// 		.phases {
// 			width: 20%;
// 		}

// 		.condition {
// 			width: 30%;
// 			text-align: left;
// 		}

// 		.bar-5,
// 		.bar-10,
// 		.bar-15,
// 		.bar-20,
// 		.bar-25,
// 		.bar-30,
// 		.bar-35,
// 		.bar-40 {
// 			background-color: $middle-blue-green;
// 		}
// 		.bar-5 {
// 			width: 5%;
// 		}
// 		.bar-10 {
// 			width: 10%;
// 		}
// 		.bar-15 {
// 			width: 15%;
// 		}
// 		.bar-20 {
// 			width: 20%;
// 		}
// 		.bar-25 {
// 			width: 25%;
// 		}
// 		.bar-30 {
// 			width: 30%;
// 		}
// 		.bar-40 {
// 			width: 40%;
// 		}
// 		.bar-50 {
// 			width: 50%;
// 		}
// 		.bar-60 {
// 			width: 60%;
// 		}
// 	}
// 	.progress-title {
// 		font-size: calc(.5rem + .5vw);
// 		font-weight: bold;
// 	}
// }

//pipeline .pipeline

.pipeline-container {
	box-shadow: $material-box-shadow;

	h1 {
		padding-top: 50px;
		margin: 0;
	}
}
.pipeline {
	width: 100%;
	border-spacing: 0 50px;

	thead {
		tr {
			background: $space-cadet;
			th {
				color: white;
				margin: 0;
				max-width: 800px;
				font-size: $quote-font-size;
			}
		}
	}
	td,
	th {
		padding: 8px 14px;
		text-align: center;
	}

	.completed {
		background: $middle-blue-green;
	}
	.in-progress {
		background: linear-gradient(to right, $middle-blue-green 50%, white 50%);
	}
	.completed,
	.in-progress {
		color: transparent;
	}

	tr td:first-child,
	tr th:first-child {
		text-align: left;
	}
}
.test {
	background: red;
}
@media only screen and (max-width: 700px) {
	.pipeline {
		thead {
			display: none;
		}
		td {
			position: relative;
			display: block;
			padding-left: 150px;
			text-align: left;
		}

		//td:before {
		.condition:before,
		.treatment:before,
		.completed:before,
		.in-progress:before {
			position: absolute;
			top: 8px;
			left: 10px;
			display: block;
			content: attr(aria-label) ": ";
			font-weight: 700;
		}
		.no-progress:before {
			display: none;
			content: '';
		}

		tbody tr {
			padding: 50px 0;
			display: block;
		}
		&:nth-of-type(odd) {
			background: #f3f3f3;
			background: $middle-blue-green;
		}
		tbody tr:nth-of-type(even) {
			background: #fff;
		}
		.completed,
		.in-progress {
			color: $space-cadet;
			background: none;
		}
	}
}

//story
//story
//story
//story
.frame {
	box-shadow: $material-box-shadow;
	padding: $square-padding;
	overflow: auto;
	p,
	li {
		font-size: $quote-font-size;
		h2 {
			text-align: left;
		}
	}
}

.pillar-img {
	display: block;
	width: 40%;
	margin: 0 auto;
	float: right;
	margin: 30px;
}
.float-left {
	float: left;
}

.banner-2 {
	background-color: #92a6bf;
}

.banner-3 {
	background-color: #324151;

	h1,
	p {
		color: white;
	}
}

.banner-4 {
	background-color: #9ca55d;
}

.banner-5 {
	background-color: #373837;

	h1,
	p {
		color: white;
	}
}
.banner-6 {
	background-color: #b7ab9b;

	a {
		border-radius: $border-radius;
		border: none;
		font-size: $header-font-size;
		width: 44%;
		background-color: white;
		text-align: center;
		padding: 15px;
		margin: 3%;
	}
	a:hover {
		background-color: darken(white, 20%);
		background-size: 0;
		transition: $transition-speed;
	}
}

.chicken-egg {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 900px;
	width: 50%;
	margin: 0 auto;
	float: right;
	margin: 20px;

	.chicken-arrow {
		display: flex;
		flex-direction: column;

		img {
			width: 50%;
			margin: 0 auto;

			&:nth-child(2) {
				transform: rotate(180deg);
			}
		}
	}
}

.step-1 {
	background-color: $middle-blue-green;

	h2 {
		width: 100%;
	}
}

.step-2 {
	background-color: $metallic-seaweed;
	color: white;

	h2 {
		width: 100%;
	}
	h1,
	h2,
	p,
	div {
		color: white;
	}
}

.step-3 {
	background-color: $space-cadet;
	h1,
	p {
		color: white;
	}
}

.half {
	width: 50%;
}
.quarter {
	width: 25%;
}
.kid {
	background-color: #edeeec;
	display: flex;
	flex-wrap: wrap;
	padding: $square-padding;

	h2,
	p {
		color: $space-cadet;
		width: 50%;
		text-align: right;
	}
	img {
		width: 50%;
		box-shadow: 0 0 8px 8px #edeeec inset;
	}

	a {
		color: $metallic-seaweed;
	}
}

.gutter {
	width: 100%;
	height: 50px;
	background-color: white;
}

@media only screen and (max-width: 1000px) {
	.square,
	.square-img {
		width: 100%;
		padding: 20px;
	}
}

@media only screen and (max-width: 900px) {
	.top-nav {
		padding: 0 10px;
		a {
			margin: 25px 5px;
		}
	}

	.comparison {
		.comparison-item,
		.comparison-header {
			width: 100%;
		}
		.comparison-vs {
			position: static;
		}
	}
	.modal {
		.person-modal-content,
		.contact-modal-content {
			width: 100%;
			.img-container {
				width: 70%;
			}
			.close {
				position: static;
				width: 100%;
				margin: 0;
				padding: 0;
			}
			.bio {
				width: 100%;
				h1 {
					text-align: center;
					padding: 0;
				}
			}
		}
	}
	.half {
		width: 100%;
	}
	.read-more {
		a {
			width: 50%;
		}
	}
}

@media only screen and (max-width: 700px) {
	.carousel-item .carousel-text .paragraph {
		height: 70%;
	}
	.top-nav {
		display: block;
		position: fixed;
		right: -1000px;
		background-color: white;
		width: 100%;
		transition: 300ms;

		z-index: 999;

		img {
			display: none;
		}
		a {
			display: block;
			text-align: center;
		}
		.show-mobile {
			display: block;
		}
		#hide-mobile {
			display: none;
		}
	}
	.pillar-img,
	.chicken-egg {
		float: none;
		margin: 0 auto;
		width: 75%;
	}
	.chicken-egg {
		width: 100%;
	}

	.banner-6 a {
		width: 100%;
	}

	.hamburger {
		display: block;
		background-color: rgb(255, 255, 255, .4);
		backdrop-filter: blur(5px);
		border: 1px solid $space-cadet;
		border-radius: 5px;
		width: 50px;
		padding: 5px;
		position: fixed;
		transition: 300ms;
		right: 10px;
		top: 10px;
		transition-timing-function: ease-in-out;
		z-index: 999;

		div {
			width: 30px;
			height: 5px;
			background-color: $middle-blue-green;
			margin: 5px auto;
		}

		&:hover {
			border-radius: 50px;
			background-color: $notitia-gray;
			transition: 300ms;
			transition-timing-function: ease-in-out;

			div {
				background-color: white;
			}
		}
	}
}
