@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;800&display=swap');

//colors
$metallic-seaweed: #328490;
$middle-blue-green: #92e0e1;
$space-cadet: #1d294d;
$light-text: white;
$tan: #ebb992;
$notitia-gray: #707070;

//typography

$font: "Raleway", sans-serif;

$hero-font-size: 4rem;
$header-font-size: 2.5rem;
$quote-font-size: 1.5rem;
$text-shadow: 0 2px 2px rgba(0, 0, 0, .5); //can i use same box shadow
$default-font-weight: 500;

//spacing
$nav-padding: 30px 15px;
$nav-margin: 0;
$nav-width: 150px;
$square-padding: 3%; //50px 100px;

//other
$border-radius: 25px;
$transition-speed: 300ms;
$material-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

* {
	font-family: $font;
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	margin-left: 150px;
}

[data-aos].dfdf {
	width: 50%;
}

[data-aos="shrink"] {
	transition-property: transform;
	transform: scale(1);

	&.aos-animate {
		transform: scale(.9);
	}
}

[data-aos="pop"] {
	opacity: 0;
	transition: 0;
	transition-property: opacity;

	&.aos-animate {
		opacity: 1;
	}
}

h1,
h2,
h3,
h4,
h5 {
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: $header-font-size;
}

.thicc {
	height: 1080px;
}

//canvas
//canvas
//canvas
//canvas
/*
.movie-container {
	//position: relative;
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);

	z-index: 999;
	//margin-bottom: 15000px;
	//width: 200px;
	canvas {
		top: 0;
		max-width: calc(100vw - 150px);
		max-height: 100vh;
	}
}
#thiccer {
	width: 100%;
	height: 5000px;
}
*/

//hero
//hero
//hero
//hero
.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;

	h1 {
		font-size: $hero-font-size;
		color: white;
		text-shadow: $text-shadow;
		width: 450px;
		padding: 100px 0 100px 0;
	}
}

.about-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/viktor-krc-E7qSsgMsXyA-unsplash.jpg");
}

.home-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/kal-visuals-aK4iPNYipnU-unsplash.jpg");

	background-position: bottom;
}

.story-hero {
	background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.2)), url("images/story-desktop.jpg");

	background-position: bottom;
	height: 1950px;

	img {
		position: relative;
		width: 75%;
		top: -5%;
		//padding: $square-padding;
	}
	h1 {
		width: 75%;
		color: white;
		text-align: left;
		padding: $square-padding;
		text-shadow: $text-shadow;
		a {
			color: $middle-blue-green;
		}
	}
}

.science-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/national-cancer-institute-L7en7Lb-Ovc-unsplash.jpg");

	h1 {
		color: white;
		font-size: $hero-font-size;
	}

	p {
		color: white;
		text-shadow: $text-shadow;
	}

	h1,
	p {
		padding: $square-padding;
	}
}

.pipeline-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/chromatograph-MWnm1fSYXN4-unsplash.jpg");
}

.logo {
	width: 6.5rem;
}

footer {
	padding: 20px;
	text-align: center;
	font-size: .75rem;
}

//grid layout
//grid layout
//grid layout
//grid layout
.grid {
	display: flex;
	flex-wrap: wrap;
	//flex-direction: row-reverse;
}

.square {
	width: 50%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: $square-padding;
}

.full {
	width: 100%;
	padding: $square-padding;
	font-size: $hero-font-size;
}

.map-square {
	padding: 0;

	div {
		padding: $square-padding;
	}
}

.middle-blue-green {
	background-color: $middle-blue-green;
}

.metallic-seaweed {
	background-color: $metallic-seaweed;

	* {
		color: white;
	}
	h1 {
		font-size: $hero-font-size;
	}
}

.quote {
	font-size: $quote-font-size;
	text-align: center;
}

.space-cadet {
	background-color: $space-cadet;
	color: white;
	* {
		color: white;
	}
	h1 {
		padding: $square-padding;
	}
}

//navbar
//navbar
//navbar
//navbar
.sidenav {
	background: $space-cadet;
	height: 100%;
	width: $nav-width;
	position: fixed;
	z-index: 1;
	overflow: hidden;

	box-shadow: $material-box-shadow;

	a {
		padding: $nav-padding;
		margin: $nav-margin;
		text-decoration: none;
		color: $light-text;
		display: block;
		text-align: center;
	}
	//fontawesoem icons

	.social-media {
		display: block;
		padding: $nav-padding;
		a {
			display: inline;
			padding: 0 2px;
		}
		a i {
			font-size: 38px;

			&:hover {
				opacity: 80%;
				transition: 300ms;
			}
		}
	}

	img {
		padding: 20px 10px 20px 10px;
		width: $nav-width;
		background-color: white;

		// height: $nav-width;
	}
}
.hamburger {
	display: none;
}

//link animation
//link animation
a {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% .1em;
	transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
	&:hover {
		cursor: pointer;
		text-decoration: none;
		background-size: 100% .1em;
	}
	&:active {
		opacity: 50%;
	}
}

//about us
.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	figure {
		text-align: center;
	}

	h1 {
		text-align: center;
		width: 100%;
	}

	img {
		width: 200px;
		border-radius: 500px;
		padding-bottom: 20px;

		&:hover {
			opacity: 80%;
			transition: $transition-speed;
			transition-timing-function: ease-in-out;
		}
	}

	figcaption {
		text-align: center;
		max-width: 200px;
	}
}

.caption {
	font-size: .75rem;
	color: $notitia-gray;

	&:hover {
		cursor: pointer;
	}
}

//contact form
//contact form
//contact form
//contact form
.contact {
	width: 100%;
	margin: 0;
	label {
		font-size: $quote-font-size;
	}
	input,
	textarea {
		border-radius: $border-radius;
		width: 100%;
		border: none;
		padding: 12px;
		margin-bottom: 20px;
		&:focus {
			outline: none;
			border: 2px solid $space-cadet;
		}
	}
	input[type="submit"] {
		background-color: $tan;
		width: 50%;
		font-size: $header-font-size;
		color: white;
		float: right;

		&:hover {
			background-color: darken($tan, 20%);
			transition: $transition-speed;
			cursor: pointer;
		}
	}
	&::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	textarea {
		height: 300px;
	}
}

.contact-us {
	padding: 20px;
	border-radius: $border-radius;
	position: fixed;
	background-color: $tan;
	color: white;
	border: none;
	font-size: $quote-font-size;
	right: 2%;
	bottom: 2%;
	box-shadow: $material-box-shadow;

	&:hover {
		background-color: darken($tan, 20%);
		transition: $transition-speed;
		cursor: pointer;
	}
}

.map {
	width: 100%;
	height: 100%;
}

//modal
//modal
//modal
//modal
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.person-modal-content {
	background-color: white;
	margin: 20% auto; /* 15% from the top and centered */
	padding: 0;
	width: 75%; /* Could be more or less, depending on screen size */
	border-radius: $border-radius;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 400px;
	min-width: 300px;
	justify-content: space-evenly;
	align-items: center;

	h1 {
		width: 70%;
		font-size: $header-font-size;
		margin: 0;
	}
	.img-container {
		width: 30%;
	}
	img {
		width: 80%;
	}
	p {
		padding: 20px;
	}
}

/* The Close Button */
.close {
	color: #aaa;
	font-size: 4rem;
	font-weight: bold;
	width: 100%;
	text-align: right;
	padding-right: 20px;
	margin-bottom: -50px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

//Science
//Science
//Science
//Science
.bullet {
	font-size: $quote-font-size;

	li {
		padding: 20px;
	}
}

.process-diagram {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	justify-items: center;
	align-items: center;

	img {
		width: 100px;
		margin: 10px;
	}

	li {
		width: 100%;
		text-align: right;
	}
}

.ebay {
	font-size: 5rem;
	border: 1px solid black;
	background-color: lightgray;
}

.arrow {
	width: 25px;
	height: 25px;
	border: solid white;
	border-width: 0 10px 10px 0;
	display: inline-block;
	margin: 10px 0 10px 0;
}

.panel {
	height: 1vh;
}

.red {
	border: solid red;
	border-width: 0 10px 10px 0;
}

.arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border: solid greenyellow;
	border-width: 0 10px 10px 0;
}

.red-text {
	color: red;
}

.green-text {
	color: greenyellow;
}

.definition {
	font-weight: 800;
}

.hover-me:hover ~ .sidenav {
	background-color: red !important;
}

.science-zhao {
	padding: 0;
	img {
		width: 400px;
	}
}

//pipeline
//pipeline
//pipeline
//pipeline

.pipeline {
	width: 80%;
	margin: 50px auto;

	box-shadow: $material-box-shadow;
	padding: 20px;

	h4 {
		text-align: left;
	}
}
.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 2rem;
	overflow: hidden;
	border-radius: $border-radius;
	transition: $transition-speed;
	width: 100%;

	&:hover {
		height: 2.5rem;
		transition: $transition-speed;
	}
}

.progress-expand {
	display: none;
}

.pipe-1 {
	background-color: $space-cadet;
	&:after {
		content: "Pre-Clinical";
	}
}

.pipe-2 {
	background-color: $metallic-seaweed;
	&:after {
		content: "Phase 1";
	}
}
.pipe-3 {
	background-color: $middle-blue-green;
	color: $space-cadet;
	&:after {
		content: "Phase 2";
	}
}
.pipe-4 {
	background-color: $space-cadet;
	&:after {
		content: "Phase 3";
	}
}

.pipe-gray {
	background-color: $space-cadet;
	color: white;
	opacity: 20%;
}

.progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	transition: width .6s ease;
	color: white;
	margin-right: 2px;
	margin-left: 2px;
	width: 25%;
}

//story
//story
//story
//story
.frame {
	text-align: right;
}

.superorganism {
	background-color: black;

	h2,
	p {
		color: white;
	}
	p {
		font-size: $quote-font-size;
	}
}

.amazon {
	background-color: #041e1f;

	h2,
	p {
		color: white;
	}
	p {
		font-size: $quote-font-size;
	}
}
/*(
.superorganism {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	padding: $square-padding;

	h2,
	p {
		color: white;
		width: 50%;
		text-align: right;
	}

	p {
		width: 25%;
	}
	img {
		width: 50%;
	}
	a {
		color: $middle-blue-green;
	}
}
*/

[data-aos="custom"] {
	color: red;
}

.half {
	width: 50%;
}
.quarter {
	width: 25%;
}
.kid {
	background-color: #edeeec;
	display: flex;
	flex-wrap: wrap;
	padding: $square-padding;

	h2,
	p {
		color: $space-cadet;
		width: 50%;
		text-align: right;
	}
	img {
		width: 50%;
		box-shadow: 0 0 8px 8px #edeeec inset;
	}

	a {
		color: $metallic-seaweed;
	}
}

.gutter {
	width: 100%;
	height: 50px;
	background-color: white;
}

@media only screen and (max-width: 700px) {
	.hero h1 {
		font-size: 3rem;
	}

	.square {
		width: 100%;
		padding: 20px;
	}

	.person-modal-content {
		margin: 60% auto; /* 15% from the top and centered */
	}

	//responsive nav
	.sidenav {
		width: 0;
		transition: 300ms;
	}

	.hamburger {
		display: block;
		background-color: rgb(255, 255, 255, .4);
		backdrop-filter: blur(5px);
		border: 1px solid $space-cadet;
		border-radius: 5px;
		width: 50px;
		padding: 5px;
		position: fixed;
		margin: 10px;
		transition: 300ms;
		transition-timing-function: ease-in-out;
		z-index: 999;

		div {
			width: 30px;
			height: 5px;
			background-color: $middle-blue-green;
			margin: 5px auto;
		}

		&:hover {
			border-radius: 50px;
			background-color: $notitia-gray;
			transition: 300ms;
			transition-timing-function: ease-in-out;

			div {
				background-color: white;
			}
		}
	}

	main {
		margin: 0;
		transition: 300ms;
	}
}
